.main-page {
  background-color: ghostwhite;
  width: 1345px;
  height: 645px; 
}

#main-box {
  width: 925px;
  height: 715px;
  margin-left: 10em;
  padding-top: 0.5em;
}

.title-div {
  background-color: transparent;
  width: 100px;
  margin-left: 8rem;
}

.title-sneakers {
  font-size: 25px;
  font-weight:  bold;
  font-style:   initial;
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: default;
}

.menu-div {
  background-color: transparent;
  width: 400px;
  position: absolute;
  margin-left: 15em;
  margin-top: -2.3rem;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  padding: 10px;
}

.car-icon-div {
  background-color: black;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: 45em;
  margin-top: -1.8rem;
  cursor: pointer;
}

.img-car-icon {
  height: 100%;
  width: 100%;
}

.img-car-icon:hover, .dropbtn:focus {
  background-color:  khaki;
}

.tag-plus-div {
  background-color: transparent;
  height: 12px;
  width: 17px;
  position: absolute;
  margin-left: 46.2em;
  margin-top: -2.1rem;
  text-align: center;
}

#plus-tag {
  width: 100%;
  height: 100%;
  cursor: default;
  font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 8px;
  font-weight: bold;
}

.carDropdown {
  margin-left: 35.5em;
  margin-top: -2.1rem;
  position: relative;
  display: inline-block;

}

.dropdown-car {
  display: none;
  position: absolute;
  margin-left: -4rem;
  background-color:    ghostwhite;
  min-width: 210px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.number-itens {
  color: red;
}

#total-cost {
  color: red;
}

.dropdown-car a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-car a:hover {background-color: rgb(233, 233, 233);}

.dropbtn {
  background-color: navajowhite;
  color: white;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  border-color: gainsboro;
}

.dropbtn:hover, .dropbtn:focus {
  background-color:  khaki;
}

.dropdown {
  margin-left: 48.5em;
  margin-top: -2.1rem;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 2rem;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.line-breaker {
  position: relative;
  margin-top: -1em;
}

.img-container-div {
  position: relative;
  background-color: transparent;
  width: 260px;
  height: 270px;
  margin-top: 4.8em;
  margin-left: 12em;
  border-radius: 8px;
  z-index: 1;
}

.tenis-img {
  width: 110%;
  height: 110%;
  border-radius: 8px;
  cursor: default;
  transition: 0.2s;
}

.tenis-img:hover {
  opacity: 1;
}

.company-name-div {
  position: absolute;
  background-color: transparent;
  margin-left: 30em;
  margin-top: -12em;
}

.company-name  {
  font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  color:  orange;
  font-style:  unset;
  font-weight:  bold;
  cursor: default;
}

.product-name-div {
  background-color: transparent;
  position: absolute;
  margin-left: 30em;
  margin-top: -10em;
}

.product-name {
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 23.5px;
  font-weight: bolder;
  cursor: default;
}

.text-description-div{
  background-color: transparent;
  position: absolute;
  width: 340px;
  margin-left: 30em;
  margin-top: -7.5em;
}

.text-description {
  font-family:   'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-style:  oblique;
  color:    darkgray;
  cursor: default;
  font-size-adjust:  initial;
}

.price-div {
  position: absolute;
  background-color:transparent;
  margin-left: 30em;
  margin-top: -2.2em;
}

.price {
  font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 21px;
  font-weight: bolder;
  cursor: default;
}

.price-tag-div {
  background-color: transparent;
  position: absolute;
  margin-left: 36.5em;
  margin-top: -2.1em;
  cursor: default;
}

.real-price-div {
  position: absolute;
  background-color: transparent;
  margin-left: 30em;
  margin-top: -0.2em;

}

#real-price-tag {
  font-size: 12px;
  text-decoration-line:  line-through;
  cursor: default;
}

.button-minus-div {
  position: absolute;
  margin-left: 30em;
  margin-top: 1.5em;
}

#button-minus {
  width: 12px;
  height: 12px;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.qt-itens-div {
  position: absolute;
  margin-left: 32.3em;
  margin-top: 1.2em;
}

#qt-itens {
  height: 18px;
  width: 60px;
  cursor: default;
}

.button-plus-div {
  position: absolute;
  margin-left: 36.3em;
  margin-top: 1.5em;
}

#button-plus {
  width: 12px;
  height: 12px;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.add-cart-div {
  position: absolute;
  margin-left: 40.2em;
  margin-top: 0.8em;
}

#add-cart {
  width: 180px;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background-color:  orange;
  opacity: 0.7;
}

#add-cart:hover {
  background-color:  chocolate;
}

#notification-div {
  position: absolute;
  margin-left: 30em;
  margin-top: 3em;
}

.notification-text {
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  cursor: default;
}

.imgs-container-div {
  height: 120px;
  width: 340px;
  background-color: black;
  margin-top: 3rem;
  margin-left: 10rem;
}

#first-img {
  position: absolute;
  background-color:   gray;
  width: 102px;
  height: 102px;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border-width: 2px;
  border-style: solid;
  border-color: orange;
  border-radius: 8px;
}

.img01 {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.img01:hover {
  color: gray;
  filter: blur(1px);
  opacity: 0.9px;
}

#sec-img {
  position: absolute;
  background-color:   gray;
  width: 102px;
  height: 102px;
  margin-left: 7.5rem;
  margin-top: 0.5rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

.img02 {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.img02:hover {
  color: gray;
  filter: blur(1px);
  opacity: 0.7;
}

#third-img {
  position: absolute;
  background-color:   gray;
  width: 102px;
  height: 102px;
  margin-left: 14.5rem;
  margin-top: 0.5rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

.img03 {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.img03:hover {
  color: gray;
  filter: blur(1px);
  opacity: 0.7;
}
